version: '3'
services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "8080:8080"
    environment:
      - WEBUI_AUTH=false
    volumes:
      - openwebui-data:/app/backend/data
volumes:
  openwebui-data:

